<!-- <p>Здесь будет плитка</p> -->

<div class="content">
  <div *ngFor="let cat of objs" class="content__card">
    <img src="{{ cat.image }}" alt="Cat-photo">
    <div class="card__title">
      <p>{{ cat.name }}</p>
      <div (click)="onLike(cat.id)">
        <img class="like" *ngIf="!cat.liked; else liked" src="http://html.ftpes.ru/FrontEndTest/favorite_border.svg" alt="">
        <ng-template #liked>
          <img class="like" src="http://html.ftpes.ru/FrontEndTest/favorite_full.svg" alt="">
        </ng-template>
      </div>
    </div>
  </div>
</div>
