img {
  padding-bottom: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  // width: 100%;
  .card__title {
    // width: 100%;
    background: #a3a3a3;
    height: 50px;
    .like {
      cursor: pointer;
    }
  }
  .fd {
    width: 25px;
    height: 25px;
    background: black;
  }
}